#link {
    text-decoration: none; 
    color: white;
    font-size: 15px;
}

#linkMobile {
    text-decoration: none; 
    color: black;
    font-size: 15px;
}
#linkMobile span{
    font-size: 15px;
}

#logout {
    position: absolute;
    right: 20px;
}
