#link {
    text-decoration: none; 
    color: white;
    font-size: 15px;
}

#linkMobile {
    text-decoration: none; 
    color: black;
    font-size: 15px;
}
#linkMobile span{
    font-size: 15px;
}

#logout {
    position: absolute;
    right: 20px;
}

#redColor {
    background-color: #fa0000;
    color: white;
}

#drawerTitle {
    margin: 0 auto;
    width: 70%;
}

.namelogo {
    max-width: 75%;
}
