.loginScreen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    min-height: 100vh;
}

.logo { 
    max-width:70%;
    height:auto;
}

.box {
    padding-top: 10px;
}

