#tableComponent {
    max-width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  
.MUIDataTableToolbar-left-169 {
  display: inline-block;
  position: absolute;
}

.MUIDataTableToolbar-actions-170 {
  position: absolute;
  display: inline-block;
  right: 1%;
}

#buttonAddPerson {
  box-shadow:none;
  color: white;
  background-color:#fa0000;
}

#titleTable {
  left: 2%;
  display: inline-block;
  position: relative;
}