#tableComponent {
    max-width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  
.MUIDataTableToolbar-left-169 {
  display: inline-block;
  position: absolute;
}

.MUIDataTableToolbar-actions-170 {
  position: absolute;
  display: inline-block;
  right: 1%;
}