#tableComponent {
    max-width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  
.MUIDataTableToolbar-left-168 {
  position: relative;
  float: left;
}

.MUIDataTableToolbar-actions-169 {
  position: absolute;
  display: inline-block;
  right: 1%;
}

#buttonAddPerson {
  box-shadow:none;
  color: white;
  background-color:#fa0000;
}

#titleTable {
  left: 2%;
  display: inline-block;
  position: relative;
}

#styleButtonTable {
  position: relative;
  float: left;
  margin-right: 28%;
}