.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#alignCenter {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 {
  color: black;
}


#form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
}

#marginForm {
  margin-bottom: 3%;
}