body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #58AFFF 5.21%, #0060B8 72.4%) no-repeat;
  min-height: 100vh;
} 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.gmnoprint .gm-style-mtc div {
  background-color: rgb(88, 175, 255)  !important;
  color: #ffffff !important;
  width: 100px !important;
}

.gm-style button,.gm-svpc {
  background-color: rgba(88, 175, 255)  !important;
  color: #ffffff !important;
}